---
const { title, description, techs, github, live } = Astro.props;
---

<div class="mt-4">
  <div class="flex justify-between items-center gap-2">
    <h2 class="text-zinc-300 text-sm font-bold">{title}</h2>
    <div class="flex items-center gap-2 text-xs">
      {
        github != "no" && (
          <a
            href={github}
            target="_blank"
            class="text-zinc-400 hover:text-zinc-300"
          >
            Github
          </a>
        )
      }
      {
        live != "no" && (
          <a
            href={live}
            target="_blank"
            class="text-zinc-400 hover:text-zinc-300 ml-2"
          >
            Live
          </a>
        )
      }
    </div>
  </div>
  <p class="text-zinc-400 text-xs mt-1">
    {description}
  </p>
  <p class="text-zinc-600 text-xs mt-1">
    {techs}
  </p>
</div>
